
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}
.main{
    margin: 0 auto;
    margin-top: 8%;
    width: 460px;
    height: 250px;
    background-color: white;
}
.head{
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
form{
    margin-top: 20px;
}
.login{
    height: 100%;
    border: 1px solid rgba(34,36,38,.15);
}
.ui.input{
    margin-left: 20px;
    margin-top: 10px;
    width: 420px;
}
.ui.button{
    
    width:420px ;
    height: 70px;
}
.btn1{
    
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 10px;
}
.bt_font{
    font-size: 20px;
    color: white;
}